<h2>Recent posts from people you follow:</h2>

<div class="container">



<ul class="feed">
<% @feed_array.flatten.shuffle.each do |post| %>
  <li>
    <div class="image">
      <a href="<%= post.img_url %>">
    		<img class="secret_img" src="<%= post.img_url %>" alt="<%= post.caption %> by <%= post.user.handle %>">
      </a>
    </div>
		<p class="font_caption">"<%= post.caption %></p> 
		<p class="caption_handle"><a href="/users/<%= post.user.id %>"><%= post.user.handle %></a></p>
    </li>
<% end %>
</ul>

</div>



