<h2><%= @user.handle %>'s Profile:</h2>

<% if !@self %>
  <form action="/followers/new" method="post">
    <input type="hidden" name="id" value="<%=@user.id %>">
    <input class="button" type="submit" value="Follow">
  </form>
<% end %>


<div class="container">

	<% @posts.each do |post| %>
		  <img class="secret_img" src="<%= post.img_url %>">
		  <p><%= post.caption %> by <%= post.user.handle %></p>

		  <form action="/posts/<%=post.id%>/edit" method="get">
				<input class="button" type="submit" value="edit post">
			</form>

		  <form action="/posts/<%=post.id%>" method="post">
				<input type="hidden" name="_method" value="delete">
				<input class="button" type="submit" value="delete post">
			</form>
	<% end %>

</div>

